<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="copyright-text-wrap">
                    {% if user.name is null %}
                    <p class="mb-0">
                        <span class="copyright">
                            &copy;
                            <script>document.write(new Date().getFullYear());</script> {{site_name}}. All rights reserved.
                        </span>
                    </p>
                    {% else %}

                    <p class="mb-0">
                        <span class="copyright">
                            &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            {{user.name}}<br>Last update on {{current_time}}
                        </span>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
