<header class="site-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand mx-auto mx-lg-0 d-none d-lg-block"
        >
        {% if user.login is null %}
          {{site_name}}.
        {% else %}
          {{user.login}}.
        {% endif %}
      </a>

      {% if user.login %}
        {% if user.hireable %}
        <div class="d-flex align-items-center d-lg-none">
          <a class="custom-btn btn" href="#"> Download CV </a>
        </div>
        {% else %}
        <div class="d-flex align-items-center d-lg-none">
          <a class="custom-btn btn"> Download CV </a>
        </div>
        {% endif %}

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-lg-5">
            <li class="nav-item">
              <a class="nav-link inactive"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{user.login}}">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/{{user.login}}/connections">Connections</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/{{user.login}}/projects">Projects</a>
            </li>

          </ul>

          <div class="d-lg-flex align-items-center d-none ms-auto">
            <a class="custom-btn btn" href="/{{user.login}}/cv"> Download CV </a>
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
</header>
